[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.8.4"
pydantic = "==1.10.7"

[dev-packages]
ipykernel = "*"
twine = "*"
build = "*"

[requires]
python_version = "3.8"
